{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container mt-5" id="homepage-content">
        <div class="row mb-5">
            <div class="col-4">
                <h1>All in One</h1>
                <h6>Our Hair Salon is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations, whether you need a haircut for a special occasion or not</h6>
                <div class="mt-5">
                {% if loggedIn == true %}
                    <a href="{{ url('customer')}}" class="btn btn-outline-primary">Edit Profile</a>
                {% else %}
                    <a href="{{ url('customer_login')}}" class="btn btn-outline-primary">Login/Signup</a>
                {% endif %}
                <a href="{{ url('app_shop') }}" class="btn btn-outline-primary">Booking</a>
                </div>
            </div>
            <div class="col-8">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for i in range(2,10) %}
                            <div class="carousel-item {%if i == 2 %}active{% endif %}">
                                <img src="./assets/images/rolling-image{{ i }}.png" class="d-block w-100 " alt="...">
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <div class="row text-center">
            <h2 class="font-weight-bold">Services</h2>
        </div>
        <div class="row d-flex justify-content-center">
            {#<marquee behavior="scroll" direction="up">
                    <img class="image1homepage"
                         src="./assets/images/rolling-image1.png" style="width: 50%;"/>
    
                    <img class="image1homepage"
                         src="./assets/images/rolling-image2.png" style="width: 50%;"/>
    
                    <img class="image1homepage"
                         src="./assets/images/rolling-image3.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image4.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image5.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image6.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image7.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image8.png" style="width: 50%;"/>
    
                <img class="image1homepage"
                     src="./assets/images/rolling-image9.png" style="width: 50%;"/>
    
                </marquee>#}
            {% for service in services %}
                <div class="card p-0 mx-2 col-md-3">


                    <div class="card-body">
                        {% if service.Thumbnail is not empty %}
                            <img src="{{ service.Thumbnail }}"  />
                        {% else %}
                            <img src="./assets/images/rolling-image6.png" />
                        {% endif %}
                        <h5 class="card-title text-center">{{ service.Name }}</h5>
                        {% if service.Description is not empty %}
                            <p class="card-text">{{ service.Description }}</p>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row my-5">
            <div class="owl-carousel owl-theme" id="homepage-slider">
                {% for i in range(2,10) %}
                    <div class="item" style="width:250px"
                         ><img class="image1homepage" src="./assets/images/rolling-image{{ i }}.png" />
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>



{% endblock %}
