{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <div></div>
    <h2>Confirm your booking</h2>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h5>Personal information: </h5>
    <form action="{{ url('booking_confirm') }}" method="post" id="confirm-form">
        <div class="Info mb-5">
            Full name: {{customer.firstname}} {{customer.lastname}}<br>
            <b>Your Address (Modifiable): </b><br>
            <div class="form-group">
                <label>Phone:</label>
                <input name="phone" type ="text" size="50" value = '{{customer.phone}}' required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Street address 1:</label>
                <input name="newAdress" type ="text" size="50" value = '{{customer.address}}' required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Street address 2: </label>
                <input name ="newAdress2" type ="text" size="50" value = '{{customer.address2}}'  class="form-control">
            </div>
            <div class="form-group">
                <label >City: </label>
                <input name="newCity" type ="text" size="50" value = '{{ customer.city }}' required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>State: </label>
                <input name="newState" type ="text" size="50" value = '{{ customer.state }}' required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Zipcode: </label>
                <input name="newZipcode" type ="text" size="50" value = '{{ customer.zipcode }}' required="required" class="form-control">
            </div>
        </div>

        <div class ="Info">
            <div class="form-group">
                <h5>Booking information: </h5>
            </div>
            <div class="form-group">
                Store name: {{shopInfo.name}}
            </div>
            <div class="form-group">
                Address: {{shopInfo.address1}} {{shopInfo.address2}}, {{shopInfo.city}}, {{shopInfo.state}}
            </div>
            <div class="form-group">
                Selected services: {{bookingservice}}
            </div>
            <div class="form-group">
                Date: {{date|date('m/d/Y')}}
            </div>
            <div class="">
                Time: {{hourDigit}}:{{minDigit}}
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-danger" href="{{ url('app_shop') }}" >
                Go back
            </a>
            <button type="submit" class="btn btn-primary">Book your appointment</button>
        </div>

    </form>
{% endblock %}
