{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <br><br>
    <h2>Confirm your booking</h2>
    {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
    {% endfor %}
    <h5>Personal information: </h5>
    <div class ="Info">
        Full name: {{customer[0].firstname}} {{customer[0].lastname}}<br>
        Address: {{customer[0].address}}{{customer[0].address2}}, {{ customer[0].city }}, {{ customer[0].state }}, {{ customer[0].zipcode }}
    </div><br>
    <h5>Booking information: </h5>
    <div class ="Info">
        Store name: <br>
        Address: <br>
        Selected services: <br>
        Date: <br>
        Time: <br>
        Total: $ <br>
        <br>
    </div>
    <a class="btn btn-danger" href="{{ url('app_shop') }}" >
    Go back
    </a>
    <button type="submit" class="btn btn-primary">Book your appointment</button>
    
{% endblock %}
