{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


    <h1>Login</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(loginForm) }}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.plainPassword, {
            label: 'Password'
        }) }}

    <button type="submit" class="btn btn-primary">Login</button> <a href="{{ url('customer_register') }}" class="btn btn-outline-primary">Signup</a>
    {{ form_end(loginForm) }}
{% endblock %}

